Makefile_clean
prosper.VC.db
.vs/prosper/v15/ipch/AutoPCH/998b64a4e8f863c/PROSPER_UTIL.ipch
.vs/prosper/v15/ipch/900756ba7cb4d47.ipch
.vs/prosper/v15/ipch/891cc5a08543b1f0.ipch
.vs/prosper/v15/ipch/35972b987db0f86e.ipch
.vs/prosper/v15/Browse.VC.db
ipch/PROSPER-bf4d03d7/PROSPER-6c9c2faf.ipch
ipch/PROSPER-a249eb55/PROSPER-6c9c2faf.ipch
prosper/x64/Release/prosper.tlog/CL.read.1.tlog
prosper/x64/Release/prosper.tlog/CL.command.1.tlog
prosper/x64/Release/prosper.tlog/prosper.write.1u.tlog
prosper/x64/Release/prosper.tlog/prosper.lastbuildstate
prosper/x64/Release/prosper.tlog/link.write.1.tlog
prosper/x64/Release/prosper.tlog/link.read.1.tlog
prosper/x64/Release/prosper.tlog/link.command.1.tlog
prosper/x64/Release/prosper.tlog/CL.write.1.tlog
x64/Release/shaders/gs_sample.gls
x64/Release/shaders/fs_sample.gls
x64/Release/prosper.ipdb
x64/Release/prosper.iobj
x64/Release/prosper.exp
x64/Release/symbols.txt
x64/Release/shaders/vs_sample.gls
build_winx64/
prosper/x64/Release/prosper.tlog/unsuccessfulbuild
build_lin64/
